body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    outline: none;
  }
  
  .login-form input::placeholder {
    color: #999;
  }
  
  .login-form button {
    background-color: #54585d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #1f2329;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .options a {
    text-decoration: none;
    color: #1a232d;
    font-size: 14px;
  }
  
  .options a:hover {
    
    text-decoration: underline;
  }
  